/********************************* GLOBALS *********************************/
:root {
	--gui-font: 'Aeonik', Arial, sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/********************************* BODY *********************************/
body {
	--blackRGB: 0, 0, 0;
	--whiteRGB: 255, 255, 255;
	--white: rgb(var(--whiteRGB));
	--black: rgb(var(--blackRGB));

	/* light mode */
	--gui-bgRGB: var(--whiteRGB);
	--gui-fgRGB: var(--blackRGB);

	--gui-bg-col: rgb(var(--gui-bgRGB));
	--gui-fg-col: rgb(var(--gui-fgRGB));

	--transpSquareCol0: var(--gui-bg-col);
	--transpSquareCol1: rgba(var(--gui-fgRGB), 0.1);
	/* transp version of gui col */
	--squareSize: 30px;

	--gui-text-col: var(--gui-base-col);
	--gui-text-align: left;

	--gui-base-col: #7685f7;
	--gui-text-col-on-base: var(--gui-bg-col);
	--gui-hover-col: #bffb50;
	--gui-text-col-on-hover: var(--black);
	--gui-focus-col: var(--gui-base-col);

	--gui-inactive-col: transparent;
	/* weak colour */
	--gui-text-on-inactive-col: var(--gui-text-col);
	--gui-divider-col: rgba(var(--gui-fgRGB), 0.1);
	--gui-info-col: #a830f6;
	--gui-error-col: #e95e2a;

	--gui-link-col: var(--gui-base-col);
	--gui-link-hover-col: var(--gui-hover-col);

	--gui-console-bgcol: var(--gui-inactive-col);
	--gui-console-textcol: var(--gui-text-col);

	--gui-input-text-bg-col: var(--gui-bg-col);
	--gui-input-text-text-col: var(--gui-text-col);

	--gui-button-padding-left: 0.75rem;

	--gui-target-col: var(--gui-base-col);
	/* click target (radio button) */
	--gui-target-diameter: 1.5rem;

	--gui-corner-radius: 0;
	--gui-line-width: 2px;
	--gui-focus-outline-offset: calc(1.5 * var(--gui-line-width));
	--gui-focus-outline: var(--gui-line-width) dotted var(--gui-focus-col);

	--gui-transition: all 0.25s ease;

	--gui-control-dropshadow: 0 0 2rem;

	margin: 0;
	padding: 0;
	font-family: var(--gui-font);
	background-color: var(--gui-bg-col);
}

body:where(.dark-mode) {
	--gui-bgRGB: var(--blackRGB);
	--gui-fgRGB: var(--whiteRGB);
}

/********************************* SELECTIONS *********************************/
::-moz-selection {
	/* Code for Firefox */
	color: var(--gui-text-col-on-hover);
	background: var(--gui-hover-col);
}

::selection {
	color: var(--gui-text-col-on-hover);
	background: var(--gui-hover-col);
}

/********************************* GUI *********************************/
#gui {
	min-width: 26rem;
	padding: 1.5rem 1rem;
	padding-bottom: 3em;

	height: 100vh;
	overflow-y: auto;

	display: flex;
	flex-direction: column;
	gap: 1em;

	background-color: var(--gui-bg-col);
	color: var(--gui-text-col);

	font-family: var(--gui-font);
	font-size: 1rem;
}

/********************************* GUI SCROLLBARS *********************************/
#gui::-webkit-scrollbar-track {
	background-color: var(--gui-bg-col);
}

#gui::-webkit-scrollbar {
	/*	width: 1rem;*/
	width: calc(0.5 * var(--gui-target-diameter));
	background-color: var(--gui-bg-col);
}

#gui::-webkit-scrollbar-thumb {
	background-color: var(--gui-base-col);
	border: 1px solid var(--gui-bg-col);
	border-radius: var(--gui-corner-radius);
}

#gui #logo {
	min-height: 3rem;
	background-image: url('assets/generator-logo.svg');
	background-position-x: center;
	background-position-y: center;
	background-size: contain;
	background-repeat: no-repeat;
}

body:where(.dark-mode) #gui #logo {
	background-image: url('assets/generator-logo.svg');
}

.footer-logo {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
}

#gui .p5catalyst-logo {
	height: 2.8rem;
	width: 6rem;
	position: relative;
	right: -0.5rem;
	bottom: -0.5rem;
	background-image: url('assets/p5catalyst-logo-lightmode.svg');
	background-position-x: left;
	background-position-y: center;
	background-size: contain;
	background-repeat: no-repeat;
}

body:where(.dark-mode) #gui .p5catalyst-logo {
	background-image: url('assets/p5catalyst-logo-darkmode.svg');
}

/********************************* TITLE *********************************/
.gui-title {
	font-weight: bold;
}

/********************************* TEXTFIELD *********************************/
.gui-textfield {
	margin: 0.5em 0;
}

.gui-textfield.info {
	background-color: var(--gui-info-col);
	border-radius: 100em;
	padding: 0.5em 1em;
	color: var(--black);
}

/********************************* CONTROLLER *********************************/
.controller-wrapper {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	align-items: center;
}

.gui-controller {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 0.33em;
}

.gui-controller[disabled] {
	background-color: var(--gui-inactive-col);
	opacity: 0.5;
}

/* default behaviour */
#gui button,
#gui input,
#gui select,
#gui textarea {
	width: 100%;
	font-family: var(--gui-font);
	color: var(--black);
}

/********************************* LABEL *********************************/
.gui-label {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-weight: bold;
}

/********************************* CONSOLE *********************************/
.gui-console {
	text-align: center;
	padding: 0.5em;
	background: var(--gui-console-bgcol);
	color: var(--gui-console-textcol);
	border-radius: 3px;
}

.gui-console-error {
	color: var(--gui-error-col);
	font-weight: bold;
}

/********************************* DIVIDER *********************************/
#gui hr {
	border: none;
	height: var(--gui-line-width);
	background-color: var(--gui-divider-col);
	border-radius: var(--gui-corner-radius);
	width: 100%;
}

/********************************* HEADINGS *********************************/
#gui h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	margin-bottom: 0.25em;
	/*	font-family: 'GUIFontHeading';*/
	/*	font-weight: normal;*/
}

/********************************* BUTTON *********************************/
#gui button {
	cursor: pointer;
	background-color: var(--gui-base-col);
	color: var(--gui-text-col-on-base);
	border: none;
	transition: var(--gui-transition);
	border-radius: var(--gui-corner-radius);
	min-height: 2rem;
	padding: 0.5rem var(--gui-button-padding-left);
	font-size: inherit;
	text-align: var(--gui-text-align);
}

#gui button:hover {
	background-color: var(--gui-hover-col);
	color: var(--gui-text-col-on-hover);
}

#gui button:focus:hover {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
	border-radius: var(--gui-corner-radius);
	/*	filter: drop-shadow(var(--gui-control-dropshadow) var(--gui-hover-col));*/
}

#gui button:focus {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
	border-radius: var(--gui-corner-radius);
	/*	filter: drop-shadow(var(--gui-control-dropshadow) var(--gui-base-col));*/
}

/********************************* TOGGLE *********************************/
#gui button.toggle {
	display: inline-flex;
	position: relative;
	background-color: transparent;
	border-radius: 0;
	padding: 0;
	align-items: stretch;
}

#gui button.toggle:focus {
	outline: none;
}

/* Span elements within the toggle button */
#gui button.toggle span {
	display: inline-block;
	transition: var(--gui-transition);
	width: 100%;
	align-content: center;
	text-align: var(--gui-text-align);
	padding: 0 var(--gui-button-padding-left);
}

#gui button.toggle span:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--gui-corner-radius);
	border-top-left-radius: var(--gui-corner-radius);

	background-color: var(--gui-base-col);
	color: var(--gui-text-col-on-base);
}

#gui button.toggle span:last-child {
	border-bottom-right-radius: var(--gui-corner-radius);
	border-top-right-radius: var(--gui-corner-radius);
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;

	background-color: var(--gui-inactive-col);
	color: var(--gui-text-on-inactive-col);
}

#gui button.toggle[toggled] span:first-child {
	background-color: var(--gui-inactive-col);
	color: var(--gui-text-on-inactive-col);
}

#gui button.toggle[toggled] span:last-child {
	background-color: var(--gui-base-col);
	color: var(--gui-text-col-on-base);
}

#gui button.toggle span:first-child:hover {
	background-color: var(--gui-base-col);
	color: var(--gui-text-col-on-base);
}

#gui button.toggle span:last-child:hover {
	background-color: var(--gui-hover-col);
	color: var(--gui-text-col-on-hover);
}

#gui button.toggle[toggled] span:first-child:hover {
	background-color: var(--gui-hover-col);
	color: var(--gui-text-col-on-hover);
}

#gui button.toggle[toggled] span:last-child:hover {
	background-color: var(--gui-base-col);
	color: var(--gui-text-col-on-base);
}

#gui button.toggle:focus span:first-child {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
	z-index: 1;
	/*	filter: drop-shadow(var(--gui-control-dropshadow) var(--gui-base-col));*/
}

#gui button.toggle:focus span:last-child {
	outline: none;
	z-index: 0;
}

#gui button.toggle[toggled]:focus span:first-child {
	outline: none;
	z-index: 0;
}

#gui button.toggle[toggled]:focus span:last-child {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
	z-index: 1;
	/*	filter: drop-shadow(var(--gui-control-dropshadow) var(--gui-base-col));*/
}

/********************************* SELECT *********************************/
#gui select {
	/* removing the default dropdown arrow */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	padding: 0 var(--gui-button-padding-left);
	margin: 0;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;

	cursor: pointer;
	min-height: 2rem;
	text-align: var(--gui-text-align);
	border-radius: var(--gui-corner-radius);
	border: var(--gui-line-width) solid var(--gui-base-col);
	transition: var(--gui-transition);

	--arrow-url: url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20width%3D%2222.498px%22%20height%3D%2222.11px%22%20version%3D%221.1%22%20viewBox%3D%22352.21%20170.29%2022.498%2022.11%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Abx%3D%22https%3A%2F%2Fboxy-svg.com%22%3E%3Cpath%20class%3D%22select-arrow-svg%22%20d%3D%22m363.46%20183.85-4.9997-5.0233h10z%22%20fill%3D%22%237685F7%22%20stroke-width%3D%220px%22%20bx%3Ashape%3D%22triangle%20-373.34%20-187.05%2019.493%209.792%200.5%200%201%406f3e846f%22%2F%3E%3C%2Fsvg%3E');
	/* Some browsers will not display the caret when using calc, so we put the fallback first */
	background: var(--arrow-url) var(--gui-input-text-bg-col) no-repeat 98.5%;
	background: var(--arrow-url) var(--gui-input-text-bg-col) no-repeat
		calc(100% - var(--gui-button-padding-left));
	color: var(--gui-input-text-text-col);
}

#gui select::-ms-expand {
	/* remove arrow */
	display: none;
}

#gui select:hover {
	border-color: var(--gui-hover-col);
}

#gui select:focus {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
}

#gui option {
	max-width: inherit;
	background-color: var(--gui-bg-col);
	color: var(--gui-fg-col);
}

#gui .select {
	position: relative;
}

#gui .select::after {
	--size: 0.3rem;
	content: '';
	position: absolute;
	right: 1rem;
	pointer-events: none;
	transition: var(--gui-transition);
}

#gui .select::after {
	border: 1rem solid var(--gui-base-col);
	/* half min-height 2rem */
	right: 0.6rem;
	transform: scale(0.6, 0.4);
	clip-path: polygon(
		0 0,
		100% 0,
		100% 25%,
		0 25%,
		0 37.5%,
		100% 37.5%,
		100% 62.5%,
		0 62.5%,
		0 75%,
		100% 75%,
		100% 100%,
		0 100%
	);
}

#gui .select:hover::after {
	border-color: var(--gui-hover-col);
}

/* svg arrow */
#gui .select-arrow-svg {
	fill: var(--gui-base-col) !important;
}

/********************************* TEXTAREA *********************************/
#gui textarea {
	background-color: var(--gui-input-text-bg-col);
	color: var(--gui-input-text-text-col);
	padding: var(--gui-button-padding-left);
	border: var(--gui-line-width) solid var(--gui-base-col);
	border-radius: var(--gui-corner-radius);
	border-bottom-right-radius: 0;

	min-height: 3.5rem;
	height: 3.5rem;

	font: inherit;
	font-style: normal;
	resize: vertical;
	overflow-y: auto;
	transition: var(--gui-transition);
}

#gui textarea:hover {
	border-color: var(--gui-hover-col);
}

#gui textarea:focus {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
}

/********************************* COLOURTEXTAREA *********************************/
#gui .colour-text-area-display {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-end;
	justify-content: flex-start;
	/*	gap: var(--gui-line-width);*/
	gap: calc(var(--gui-target-diameter) * 0.25);
	transition: var(--gui-transition);
}

#gui .colour-text-area-block {
	width: var(--gui-target-diameter);
	height: calc(var(--gui-target-diameter) * 0.5);
}

/********************************* TEXTBOX *********************************/
#gui input[type='text'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: var(--gui-input-text-bg-col);
	color: var(--gui-input-text-text-col);
	border-radius: var(--gui-corner-radius);
	border: var(--gui-line-width) solid var(--gui-base-col);
	padding: 0.5em var(--gui-button-padding-left);
	transition: var(--gui-transition);
}

#gui input[type='text']:hover {
	border-color: var(--gui-hover-col);
}

#gui input[type='text']:focus {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
	border-radius: var(--gui-corner-radius);
}

/********************************* RANGE *********************************/
#gui input[type='range'] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
	height: var(--gui-target-diameter);
}

/* Removes default focus */
#gui input[type='range']:focus {
	outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
#gui input[type='range']::-webkit-slider-runnable-track {
	background-color: var(--gui-base-col);
	border-radius: var(--gui-corner-radius);
	height: var(--gui-line-width);
}

/* slider thumb */
#gui input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	margin-top: calc(
		(var(--gui-line-width) - var(--gui-target-diameter)) * 0.5
	);

	background-color: var(--gui-target-col);
	height: var(--gui-target-diameter);
	width: var(--gui-target-diameter);
	/*   width: calc(var(--gui-target-diameter) / 1.618 / 2);*/
	border-radius: 100%;
	/*   border-radius: 0;*/
	transition: var(--gui-transition);
}

#gui input[type='range']:hover::-webkit-slider-thumb {
	background-color: var(--gui-hover-col);
	color: var(--gui-text-col-on-hover);
}

#gui input[type='range']:focus::-webkit-slider-thumb {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
}

/******** Firefox styles ********/
/* slider track */
#gui input[type='range']::-moz-range-track {
	background-color: var(--gui-base-col);
	border-radius: 0.5rem;
	height: var(--gui-line-width);
}

/* slider thumb */
#gui input[type='range']::-moz-range-thumb {
	border: none;
	border-radius: 0;

	background-color: var(--gui-text-col);
	height: 1rem;
	width: 1rem;
	border-radius: 100%;
	transition: var(--gui-transition);
}

#gui input[type='range']:hover::-moz-range-thumb {
	background-color: var(--gui-hover-col);
	color: var(--gui-text-col-on-hover);
}

#gui input[type='range']:focus::-moz-range-thumb {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
}

/********************************* RADIO *********************************/
#gui input[type='radio'] {
	-webkit-appearance: none;
	appearance: none;

	display: grid;
	place-content: center;
	background-color: var(--white);
	width: var(--gui-target-diameter);
	height: var(--gui-target-diameter);
	border: var(--gui-line-width) solid var(--gui-base-col);
	border-radius: var(--gui-corner-radius);

	cursor: pointer;
	transition: var(--gui-transition);
}

#gui input[type='radio']:hover {
	border-color: var(--gui-hover-col);
}

#gui input[type='radio']:focus {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
}

#gui input[type='radio']:hover::before {
	transform: scale(1);
	box-shadow: inset var(--gui-target-diameter) var(--gui-target-diameter)
		var(--gui-hover-col);
}

#gui input[type='radio']::before {
	content: '';
	width: var(--gui-target-diameter);
	height: var(--gui-target-diameter);
	transform: scale(0.75, 0);
	box-shadow: inset var(--gui-target-diameter) var(--gui-target-diameter)
		var(--gui-target-col);
	border: none;
	border-radius: var(--gui-corner-radius);
	transition: var(--gui-transition);
}

#gui input[type='radio']:checked::before {
	transform: scale(1);
}

/********************************* COLOUR RADIO *********************************/
/*#gui .colour-selector input[type="radio"] {
	background-color: var(--option-col);
	border: none;
}
#gui .colour-selector input[type="radio"]:focus {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
}
#gui .colour-selector input[type="radio"]::before {
	transform: scale(0.333, 0);
	box-shadow: inset var(--gui-target-diameter) var(--gui-target-diameter) var(--white);
}
#gui .colour-selector input[type="radio"]:hover::before {
	transform: scale(0.333);
	box-shadow: inset var(--gui-target-diameter) var(--gui-target-diameter) var(--white);
}
#gui .colour-selector input[type="radio"]:checked::before {
	transform: scale(0.333);
}*/

/********************************* RANGE-SLIDER *********************************/

.dual-range-input {
	--dri-height: 1.5rem;
	--dri-thumb-width: var(--gui-target-diameter);
	--dri-thumb-height: var(--gui-target-diameter);
	--dri-thumb-color: var(--gui-base-col);
	--dri-thumb-hover-color: var(--gui-hover-col);
	--dri-thumb-active-color: var(--gui-hover-col);
	--dri-thumb-border-color: none;
	--dri-thumb-border-radius: var(--gui-corner-radius);
	--dri-thumb-border-width: none;
	--dri-track-height: var(--gui-line-width);
	--dri-track-border-radius: 0;
	--dri-track-color: var(--gui-base-col);
	--dri-track-filled-color: var(--gui-hover-col);
	display: flex;
	height: var(--dri-height);
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	padding-inline-end: calc(var(--dri-thumb-width) * 2);
}
.dual-range-input input {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border-radius: 0;
	flex-basis: calc(50% + var(--dri-thumb-width));
	flex-shrink: 0;
	font-size: inherit;
	height: 100%;
	margin: 0;
	min-width: var(--dri-thumb-width);
	outline: none;
}
.dual-range-input input::-moz-range-track {
	background-color: var(--dri-track-color);
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: var(--dri-track-height);
}
.dual-range-input input:first-child::-moz-range-track {
	border-start-start-radius: var(--dri-track-border-radius);
	border-end-start-radius: var(--dri-track-border-radius);
	background-image: linear-gradient(
		to right,
		var(--dri-track-color) var(--dri-gradient-position),
		var(--dri-track-filled-color) var(--dri-gradient-position)
	);
}
[dir='rtl'] .dual-range-input input:first-child::-moz-range-track {
	background-image: linear-gradient(
		to left,
		var(--dri-track-color) var(--dri-gradient-position),
		var(--dri-track-filled-color) var(--dri-gradient-position)
	);
}
.dual-range-input input:last-child::-moz-range-track {
	border-start-end-radius: var(--dri-track-border-radius);
	border-end-end-radius: var(--dri-track-border-radius);
	background-image: linear-gradient(
		to right,
		var(--dri-track-filled-color) var(--dri-gradient-position),
		var(--dri-track-color) var(--dri-gradient-position)
	);
}
[dir='rtl'] .dual-range-input input:last-child::-moz-range-track {
	background-image: linear-gradient(
		to left,
		var(--dri-track-filled-color) var(--dri-gradient-position),
		var(--dri-track-color) var(--dri-gradient-position)
	);
}

.dual-range-input input::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--dri-thumb-color);
	border-radius: var(--dri-thumb-border-radius);
	border: var(--dri-thumb-border-width) solid var(--dri-thumb-border-color);
	box-shadow: none;
	box-sizing: border-box;
	height: var(--dri-thumb-height);
	width: var(--dri-thumb-width);
	max-width: 99.99%;
}
.dual-range-input input:not([data-ready='true'])::-moz-range-thumb {
	opacity: 0;
}
.dual-range-input input:hover::-moz-range-thumb {
	background-color: var(--dri-thumb-hover-color);
	border-color: var(--dri-thumb-border-hover-color);
}
.dual-range-input input:active::-moz-range-thumb {
	background-color: var(--dri-thumb-active-color);
	border-color: var(--dri-thumb-border-active-color);
}
.dual-range-input input:focus-visible::-moz-range-thumb {
	background-color: var(--dri-thumb-active-color);
	border-color: var(--dri-thumb-border-active-color);
}
.dual-range-input input::-webkit-slider-runnable-track {
	background-color: var(--dri-track-color);
	background-repeat: no-repeat;
	box-sizing: border-box;
	height: var(--dri-track-height);
}
.dual-range-input input:first-child::-webkit-slider-runnable-track {
	border-start-start-radius: var(--dri-track-border-radius);
	border-end-start-radius: var(--dri-track-border-radius);
	background-image: linear-gradient(
		to right,
		var(--dri-track-color) var(--dri-gradient-position),
		var(--dri-track-filled-color) var(--dri-gradient-position)
	);
}
[dir='rtl'] .dual-range-input input:first-child::-webkit-slider-runnable-track {
	background-image: linear-gradient(
		to left,
		var(--dri-track-color) var(--dri-gradient-position),
		var(--dri-track-filled-color) var(--dri-gradient-position)
	);
}
.dual-range-input input:last-child::-webkit-slider-runnable-track {
	border-start-end-radius: var(--dri-track-border-radius);
	border-end-end-radius: var(--dri-track-border-radius);
	background-image: linear-gradient(
		to right,
		var(--dri-track-filled-color) var(--dri-gradient-position),
		var(--dri-track-color) var(--dri-gradient-position)
	);
}
[dir='rtl'] .dual-range-input input:last-child::-webkit-slider-runnable-track {
	background-image: linear-gradient(
		to left,
		var(--dri-track-filled-color) var(--dri-gradient-position),
		var(--dri-track-color) var(--dri-gradient-position)
	);
}
.dual-range-input input::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background-color: var(--dri-thumb-color);
	border-radius: var(--dri-thumb-border-radius);
	border: var(--dri-thumb-border-width) solid var(--dri-thumb-border-color);
	box-shadow: none;
	box-sizing: border-box;
	height: var(--dri-thumb-height);
	width: var(--dri-thumb-width);
	/* margin-top: calc(var(--dri-track-height) / 2);
  transform: translateY(-50%); */
}
.dual-range-input input:not([data-ready='true'])::-webkit-slider-thumb {
	opacity: 0;
}
.dual-range-input input:hover::-webkit-slider-thumb {
	background-color: var(--dri-thumb-hover-color);
	border-color: var(--dri-thumb-border-hover-color);
}
.dual-range-input input:active::-webkit-slider-thumb {
	background-color: var(--dri-thumb-active-color);
	border-color: var(--dri-thumb-border-active-color);
}
.dual-range-input input:focus-visible::-webkit-slider-thumb {
	background-color: var(--dri-thumb-active-color);
	border-color: var(--dri-thumb-border-active-color);
}

/********************************* CHECKBOX *********************************/
#gui input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;

	display: grid;
	place-content: center;
	background-color: var(--white);
	width: var(--gui-target-diameter);
	height: var(--gui-target-diameter);
	border: var(--gui-line-width) solid var(--gui-base-col);
	border-radius: var(--gui-corner-radius);

	cursor: pointer;
	transition: var(--gui-transition);
	margin: 0;
}
#gui input[type="checkbox"]:hover {
	border-color: var(--gui-hover-col);
}
#gui input[type="checkbox"]:focus {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
}
#gui input[type="checkbox"]:hover::before {
	transform: scale(1);
	box-shadow: inset var(--gui-target-diameter) var(--gui-target-diameter) var(--gui-hover-col);
}
#gui input[type="checkbox"]::before {
	content: "";
	width: var(--gui-target-diameter);
	height: var(--gui-target-diameter);
	transform: scale(0.75, 0);
	box-shadow: inset var(--gui-target-diameter) var(--gui-target-diameter) var(--gui-target-col);
	border: none;
	border-radius: var(--gui-corner-radius);
	transition: var(--gui-transition);
}
#gui input[type="checkbox"]:checked::before {
	transform: scale(1);
}

/********************************* XY SLIDER *********************************/
#gui .xyslider {
	width: 100%;
	height: 21em;
	/*	background-color: rgba(var(--gui-fgRGB), 0.1);*/
	background-color: none;

	background-repeat: round;
	background-size: 12.5% 12.5%;
	/* for 5 stops per quadrant */
	background-image: radial-gradient(
		circle,
		var(--gui-base-col) 1px,
		rgba(0, 0, 0, 0) 1.5px
	);
	background-position: center;
	cursor: pointer;

	transition: var(--gui-transition);

	border-radius: var(--gui-corner-radius);
	border: var(--gui-line-width) solid var(--gui-base-col);
}

#gui .xyslider:hover {
	border-color: var(--gui-hover-col);
}

#gui .xyslider .handle {
	position: relative;
	width: var(--gui-target-diameter);
	height: var(--gui-target-diameter);
	background-color: var(--gui-base-col);
	border-radius: var(--gui-target-diameter);
	cursor: move;
	top: calc(50% - var(--gui-target-diameter) / 2);
	left: calc(50% - var(--gui-target-diameter) / 2);

	transition: background-color 0.25s ease;
}

#gui .xyslider .handle:hover {
	background-color: var(--gui-hover-col);
}

#gui .xyslider .handle:active {
	outline: var(--gui-focus-outline);
	outline-offset: var(--gui-focus-outline-offset);
	border-radius: 100%;
}

/********************************* COLOUR BOXES *********************************/
#gui .colour-boxes {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-end;
	justify-content: flex-start;
	gap: calc(var(--gui-target-diameter) * 0.25);
	transition: var(--gui-transition);
}

#gui .colour-boxes input[type='radio'] {
	margin: 0;
	border: none;
}

#gui .colour-boxes input[type='radio']:hover,
#gui .colour-boxes input[type='radio']:checked:hover {
	border: var(--gui-line-width) solid var(--gui-hover-col);
}

#gui .colour-boxes input[type='radio']:checked {
	border: var(--gui-line-width) solid var(--gui-base-col);
}

#gui .colour-boxes input[type='radio']::before {
	display: none;
}

#gui .colour-boxes input[type='radio']:hover::before {
	display: none;
}

#gui .colour-boxes input[type='radio']:checked::before {
	display: none;
}

/********************************* MULTI COLOUR BOXES *********************************/
#gui .colour-boxes input[type="checkbox"] {
	margin: 0;
	border: none;
}
#gui .colour-boxes input[type="checkbox"]:hover,
#gui .colour-boxes input[type="checkbox"]:checked:hover {
	border: var(--gui-line-width) solid var(--gui-hover-col);
}
#gui .colour-boxes input[type="checkbox"]:checked {
	border: var(--gui-line-width) solid var(--gui-base-col);
}
#gui .colour-boxes input[type="checkbox"]::before {
	display: none;
}
#gui .colour-boxes input[type="checkbox"]:hover::before {
	display: none;
}
#gui .colour-boxes input[type="checkbox"]:checked::before {
	display: none;
}

/********************************* VIDEO LOADING *********************************/
#vidLoad {
	margin: auto;
	padding: 0;
	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-timing-function: linear;
}

#vidLoad > div {
	width: 2em;
	height: 2em;
}

#vidLoad > div:before,
#vidLoad > div:after {
	content: '';
	display: inline-block;
	width: 1em;
	height: 2em;
}

#vidLoad > div:before {
	background-color: var(--gui-base-col);
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}

#vidLoad > div:after {
	background-color: var(--gui-inactive-col);
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

@keyframes rotate {
	0% {
		rotate: 0deg;
	}

	100% {
		rotate: 360deg;
	}
}

/********************************* CONTACT SECTION *********************************/
#gui #contact {
	/*	margin-top: 1em;*/
	font-size: 0.8em;
}

#gui a {
	color: var(--gui-link-col);
	transition: var(--gui-transition);
}

#gui a:hover {
	color: var(--gui-link-hover-col);
}

.die-icon {
	height: 2rem;
	width: 2rem;

	opacity: 1;
	cursor: pointer;
	transition: var(--gui-transition);
}

.die-icon.disabled {
	opacity: 0.333;
}

button#dark-mode-button {
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: contain;
	width: 1.75rem;
	min-height: 1.75rem;
	padding: 0;
	border-radius: 100%;
}

button#dark-mode-button:hover {
	border-radius: 100%;
	background-color: transparent;
}

button#dark-mode-button:focus {
	border-radius: 100%;
	outline: none;
}

button#dark-mode-button:focus:hover {
	border-radius: 100%;
	outline: none;
}

/********************************* CANVAS SECTION *********************************/
#canvas-workarea {
	background-color: var(--transpSquareCol0);

	/*	background-image: linear-gradient(45deg, var(--transpSquareCol1) 25%, transparent 25%),
		linear-gradient(-45deg, var(--transpSquareCol1) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, var(--transpSquareCol1) 75%),
		linear-gradient(-45deg, transparent 75%, var(--transpSquareCol1) 75%);

	background-size: var(--squareSize) var(--squareSize);
	background-position: 0 0, 0 calc(var(--squareSize)/2), calc(var(--squareSize)/2) calc(var(--squareSize)/-2), calc(var(--squareSize)/-2) 0px;
	background-repeat: repeat;*/

	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 1em;
}

main {
	display: flex;
	flex-direction: row;
	gap: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

canvas,
.p5Canvas > svg {
	display: block;
	margin: auto;

	background-image: linear-gradient(
			45deg,
			var(--transpSquareCol1) 25%,
			transparent 25%
		),
		linear-gradient(-45deg, var(--transpSquareCol1) 25%, transparent 25%),
		linear-gradient(45deg, transparent 75%, var(--transpSquareCol1) 75%),
		linear-gradient(-45deg, transparent 75%, var(--transpSquareCol1) 75%);

	background-size: var(--squareSize) var(--squareSize);
	background-position: 0 0, 0 calc(var(--squareSize) / 2),
		calc(var(--squareSize) / 2) calc(var(--squareSize) / -2),
		calc(var(--squareSize) / -2) 0px;
	background-repeat: repeat;

	cursor: crosshair;
}

.p5Canvas > svg {
	display: none;
	position: relative;
	z-index: 1000;
}
